.container {
  /*display: flex;*/
  align-items: start;
  padding: 2.5rem 1rem;
  width: 100%;
  perspective: 1200px;
  clear: both;
}
.rtl{
  flex-direction: row-reverse;
}

.images {
  width: 65vw;
  border-radius: 5px;
  transform: rotateY(10deg) scale(.9) translateX(10px) translateY(-10px);
  transform-origin: center;
  box-shadow: 0 0 10px 0 #c0c0c0;
  float: left;
}
.imagesRtl{
  transform: rotateY(-10deg) scale(.9) translateX(-10px) translateY(-10px);
  float: right;
}

.description {
  flex: 1;
}
